---
const SCORE_API_ENDPOINT = "https://www.random.org/integers/?num=1&min=1&max=5&col=1&base=10&format=plain&rnd=new";

const res = await fetch(SCORE_API_ENDPOINT!)
let scoreValue: string | number = await res.text()
scoreValue = Number(scoreValue.trim())
---

<span class="text-sm" id="score">
  {Array.from({ length: 5 }, (_, index) => (
    <span
      class={`${index < scoreValue ? 'text-yellow-500' : 'text-gray-400'}`}
    >
      <i class={index < scoreValue ? 'fas fa-star' : 'far fa-star'}></i>
    </span>
  ))}  
</span>

