<footer class="border-t border-gray-500 shadow-lg mt-10">
    <div class="w-full p-4 md:py-8">
        <div class="md:flex md:items-center md:justify-between">
            <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/astro-svgrepo-com.svg" class="h-8" alt="Logo de la Biblioteca" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Bookverse™</span>
            </a>
            <div class="space-y-1">
                <p class="md:text-right opacity-90 font-medium">Eduardo Oliva García</p>
                <ul class="flex items-center space-x-6 text-sm font-medium text-gray-500 dark:text-gray-400">
                    <li>
                        <a href="https://github.com" target="_blank" class="flex items-center space-x-2 hover:underline">
                            <i class="fab fa-github"></i>
                            <span>GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com" target="_blank" class="flex items-center space-x-2 hover:underline">
                            <i class="fab fa-linkedin-in"></i>
                            <span>LinkedIn</span>
                        </a>
                    </li>                       
                </ul>
            </div>
        </div>
        <span class="block text-xs md:text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © 2024 <a href="/" class="hover:underline">Bookverse™</a>. Todos los derechos reservados.
        </span>
    </div>
</footer>
